@model IReadOnlyList<DigiTekShop.MVC.Components.CategoryMenu.CategoryNodeVm>

<ul class="menu">
    @* نمونه چند تا لینک ثابت مثل «فروش ویژه / برندها / خانه طراحان» را هم می‌توان جدا افزود *@

    @foreach (var root in Model)
    {
        var hasChildren = root.Children?.Any() == true;
        <li>
            <a href="@(root.Link ?? "#")" class="@(hasChildren ? "toggle-submenu" : "")">
                <span>@root.Title</span>
            </a>

            @if (hasChildren)
            {
                <ul class="submenu">
                    <li class="close-submenu">
                        <i class="ri-arrow-right-s-line"></i>
                        @root.Title
                    </li>

                    @foreach (var child in root.Children!)
                    {
                        var childHas = child.Children?.Any() == true;
                        <li>
                            <a href="@(child.Link ?? "#")" class="@(childHas ? "toggle-submenu" : "")">
                                @child.Title
                            </a>

                            @if (childHas)
                            {
                                <ul class="submenu">
                                    <li class="close-submenu">
                                        <i class="ri-arrow-right-s-line"></i>
                                        @child.Title
                                    </li>
                                    @foreach (var leaf in child.Children!)
                                    {
                                        <li><a href="@(leaf.Link ?? "#")">@leaf.Title</a></li>
                                    }
                                </ul>
                            }
                        </li>
                    }
                </ul>
            }
        </li>
    }

    <li><a href="~/sale">فروش ویژه</a></li>
    <li><a href="~/brands">برندها</a></li>
    <li><a href="~/designers">خانه طراحان ایرانی</a></li>
</ul>